.banner-container {
  width: 100%;
}
.banner {
  width: 100%;
}
.bannerBg {
  width: 100%;
  margin-top: -15%;
}

.banner-text {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0 5vw 7vw 5vw;
}

.banner-text h1 {
  width: 55%;
  padding: 5vw 0;
}

.banner-container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
