.carousel-container {
  display: flex;
  flex-direction: column;
  padding: 5vw;
  gap: 5vw;
  background-color: white;
}

.carousel-container h1 {
  color: #029fe4;
}

.carousel-container h3 {
  color: #777;
}
