*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #f0f0f0;
}

body {
  font-family: 'Rubik', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 8vw;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

h2 {
  font-size: 6vw;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

h3 {
  font-size: 4vw;
  font-weight: 400;
  padding: 0;
  margin: 0;
}
